{
  "extends": "airbnb-base",
  "settings": {
    "import/core-modules": [
      "dotenv"
    ]
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}