.header__email {
  margin: 6px 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@media screen and (max-width:500px) {
  .header__email {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width:300px) {
  .header__email {
    font-size: 14px;
    line-height: 17px;
  }
}